<h1>Finance Tracker</h1>

<h2>Dahsboard</h2>

<h2>Set Monthly Budget</h2>

<form method="POST" action="/budget">
    <label>Budget Amount</label>
    <input type="number" name="budget_amount">

    <button type="submit">Set Budget</button>
</form>

<p>Total Income: ${{ total_income }}</p>
<p>Total Spending: ${{ total_spending }}</p>
<p>Balance: ${{ balance }}</p>
<p>Monthly Spending: ${{ monthly_spending }}</p>
<p>Monthly Budget: ${{ monthly_budget }}</p>
<p>Budget Remaining: ${{ budget_remaining }}</p>

<h2>Transactions</h2>

{% for transaction in transactions %}
    <p>
        Merchant: {{transaction.merchant}}<br>
        Amount: {{transaction.amount}}<br>
        Category: {{transaction.category}}<br>
        Type: {{transaction.spending_income}}<br>
        Date: {{transaction.date_time}}<br>
        ID: {{transaction.id}}
    </p>

    <form method="POST" action="/delete/{{ transaction.id }}">
        <button type="submit">Delete</button>
    </form>

    <a href="/edit/{{ transaction.id }}">Edit</a>
{% endfor %}

<h2>Add Transaction</h2>

<form method="POST">
    <label>Merchant</label>
    <input type="text" name="merchant">

    <label>Amount</label>
    <input type="number" name="amount">

    <label>Category</label>
    <input type="text" name="category">

    <label>Type</label>
    <select name="spending_income">
        <option value="Income">Income</option>
        <option value="Spending">Spending</option>
    </select>

    <label>Date and Time</label>
    <input type="datetime-local" name="date_time">

    <button type="submit">Add Transaction</button>
</form>