<!DOCTYPE html>
<html>
<head>
    <title>Finance Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Finance Tracker</h1>

<h2>Dashboard</h2>

<div class="form-card">
    <h2>Set Monthly Budget</h2>

    <form method="POST" action="/budget">
        <label>Budget Amount</label>
        <input type="number" step="0.01" min="0.01" name="budget_amount" required>

        <button type="submit">Set Budget</button>
    </form>
</div>

<div class="dashboard">
    <div class="card">
        <h3>Total Income</h3>
        <p>${{ "%.2f"|format(total_income) }}</p>
    </div>

    <div class="card">
        <h3>Total Spending</h3>
        <p>${{ "%.2f"|format(total_spending) }}</p>
    </div>

    <div class="card">
        <h3>Balance</h3>
        <p>${{ "%.2f"|format(balance) }}</p>
    </div>

    <div class="card">
        <h3>Monthly Spending</h3>
        <p>${{ "%.2f"|format(monthly_spending) }}</p>
    </div>

    <div class="card">
        <h3>Monthly Budget</h3>
        <p>${{ "%.2f"|format(monthly_budget) }}</p>
    </div>

    <div class="card">
        <h3>Budget Remaining</h3>
        <p>${{ "%.2f"|format(budget_remaining) }}</p>
    </div>
</div>
<h2>Transactions</h2>

{% for transaction in transactions %}
    <div class="transaction-card">
        <p><strong>Merchant:</strong> {{transaction.merchant }}</p>
        <p><strong>Amount:</strong> ${{ "%.2f"|format(transaction.amount) }}</p>
        <p><strong>Category:</strong> {{transaction.category }}</p>
        <p><strong>Type:</strong> {{transaction.spending_income }}</p>
        <p><strong>Date:</strong> {{transaction.date_time }}</p>
        <p><strong>ID:</strong> {{transaction.id }}</p>

        <a href="/edit/{{ transaction.id }}">Edit</a>

        <form method="POST" action="/delete/{{ transaction.id }}">
            <button type="submit">Delete</button>
        </form>
    </div>

{% endfor %}

<div class="form-card">
    <h2>Add Transaction</h2>

    <form method="POST">
        <label>Merchant</label>
        <input type="text" name="merchant" required>

        <label>Amount</label>
        <input type="number" step="0.01" min="0.01" name="amount" required>

        <label>Category</label>
        <input type="text" name="category" required>

        <label>Type</label>
        <select name="spending_income">
            <option value="Income">Income</option>
            <option value="Spending">Spending</option>
        </select>

        <label>Date and Time</label>
        <input type="datetime-local" name="date_time" required>

        <button type="submit">Add Transaction</button>
    </form>
</div>

</body>
</html>